<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<!-- root -->
	<logger name="root" level="error"/>
	<!--<logger name="com.rabbit.samples.employeeservice" level="error"/>-->
	<!--<logger name="org.springframework" level="error"/>-->
	<!--<logger name="org.hibernate" level="error"/>-->
	<!--<logger name="org.xnio" level="error"/>-->
	<!--<logger name="io.undertow" level="error"/>-->
	<!--<logger name="com.zaxxer" level="error"/>-->
</configuration>