<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<!-- custom -->
	<logger name="com.rabbit.samples.nicknameservice" level="error"/>

	<!-- spring-->
	<logger name="org.springframework" level="error"/>

	<!-- others -->
	<logger name="org.hibernate" level="error"/>
	<logger name="org.xnio" level="error"/>
	<logger name="io.undertow" level="error"/>
	<logger name="com.zaxxer" level="error"/>
	<logger name="org.mockserver" level="error"/>
</configuration>